.content {
    flex: 1;
    padding: 0;
    height: 80%;
  }

  .edit-area {
    margin-top: 2rem;
    height: 90%;
  }

.textArea {
  width: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 15rem;
}

.button-group {
  margin-top: 1rem;
}

.save, .cancel {
  margin: 0 10px;
  cursor: pointer;
}

