.signInForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    gap: 15px;
}

.SignInForm input {
    border: none;
    border-bottom: 2px solid #ccc;
    width: 70%;
  }

.signInButtons button {
    margin: 0 2.9rem;
    margin-top: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signInButtons button:hover {
    color: #006080;
}

.signInForm {
    position: relative;
    margin: 5rem auto;
}
  
.mensahe-link {
    display: flex;
    margin: auto;
    justify-content: center;
}