.userAccount {
    display: flex;
    margin: 4rem 2rem;
}

.userAccount {
    display: flex;
    height: 100vh;
  }

.profile {
  margin-top: 2rem;
}

.saved {
  margin-top: 20rem;
}
  
  .sideBar {
    flex-basis: 20%;
  }
  
  .content {
    flex-basis: 60%;
  }
  
  .profile {
    flex-basis: 20%;
  }
  