.userAccount {
    /* width: 80%; */
    display: flex;
    margin: 4rem 2rem;
}

.userAccount {
    display: flex;
    height: 100vh;
  }
  
  .sideBar {
    flex-basis: 20%;
  }
  
  .content {
    flex-basis: 60%;
  }
  
  .profile {
    flex-basis: 20%;
  }
  