.signUpHome {
    text-align: center;
    width: 100%;
    margin: 12rem auto;
}

.signUpPage {
    text-align: center;
    margin: 1rem auto;
    width: 38%;
}

.header {
  margin: 15rem auto;
  width: 100%;
}

  